@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Avenir', sans-serif;
}

body {
  background: white;
}

li {
  list-style: none;
  cursor: pointer;
  position: relative;
}

li:hover::after {
  position: absolute;
  content: '';
  height: 4px;
  width: 100%;
  background: #2a68ff;
  right: 0;
  color: #2a68ff;
  bottom: -10px;
}

.icon{
  cursor: pointer;
}

.card{
  background: url('/src/assets/pic.jpg');
}  